script(type="text/x-template")#feedback-form-container
	form.feedback-form__form(@submit.prevent="submit")
		.feedback-form__column
			.feedback-form__row
				label.feedback-form__block(:class="{'feedback-form__block_error': validation.hasError('name')}")
					.label.feedback-form__label Введите ваше имя
					input.input.feedback-form__input.feedback-form__input_name(
						type='text'
						placeholder='Наталья Быстрова'
						name="name"
						v-model="name"
					)
					span(:class="{'feedback-form__error-message': validation.hasError('name')}") {{ validation.firstError('name') }}
				label.feedback-form__block(:class="{'feedback-form__block_error': validation.hasError('email')}")
					.label.feedback-form__label Введите ваш email
					input.input.feedback-form__input.feedback-form__input_email(
						v-model="email" type='email'
						placeholder='n.a.bystrova@gmail.com'
					)
					span(:class="{'feedback-form__error-message': validation.hasError('email')}")  {{ validation.firstError('email') }}
			.feedback-form__row
				label.feedback-form__block
					.label.feedback-form__label Сообщение к письму
					textarea.textarea.feedback-form__textarea(
						type='text'
						placeholder='Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса'
						v-model='message'
					)
					span(:class="{'feedback-form__error-message': validation.hasError('message')}")  {{ validation.firstError('message') }}
		button.button.feedback-form__button(type='submit') Отправить
		.feedback-tooltip(v-if="formState")
			.feedback-tooltip__message {{ tooltipMessage }}
			button.feedback__tooltip__close-btn(@click="closeTooltip")

	
		