section.skills
	.skills__triangles
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").skills__triangles-item.triangle
			polygon(points="0,0 0,100, 1000,100")
		svg(viewbox="0 0 1000 100" preserveAspectRatio="none").skills__triangles-item.triangle
			polygon(points="1000,0 1000,100, 0,100")
	.skills__wrapper
		.skills__photo
			+image('content/bag.png', 'skills__image')
		.skills__content
			h3.skills__title Чем я могу быть полезной вам
			p.skills__subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.skills__contents
				-
					var items = [
						["Frontend", ["HTML5", "CSS3", "Javascript", "jQuery и Vue.js"]],
						["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
					];

				ul.skills-list
					each row in items
						li.skills-list__item.skills-row
							.skills-row__title #{row[0]}
							ul.skills-row__list
								each cell in row[1]
									li.skills-row__item
										.skill
											.skill__circle
												svg(viewbox="0 0 200 200")
													circle(
														r="80" 
														cx="100" 
														cy="100" 
														fill="transparent" 
														stroke="#e9e9e9" 
														stroke-width="10"
														)
													circle(
														cx="100" 
														cy="100" 
														r="80" 
														fill="transparent" 
														stroke="url(#gradient)" 
														stroke-width="20px" 
														stroke-dasharray="502.4" 
														stroke-dashoffset="376.8"
														)
											.skill__title= cell
										svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
											linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
												stop(offset="0%" stop-color='#4a00ed')
												stop(offset="100%" stop-color='#9300e8')