include ./mixins.pug

- var obj = { Проживаю: 'Санкт-Петербург', Возраст: '29 лет', Родилась: '10 февраля 1991'}

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        +image('content/user.jpg', 'user-pic')
        +icon('link', 'link-class')
        .icon-bg
        section.section.main-section
          header.header
            .header__logo НБ

            +nav('nav', 'light', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'] )
            
            +socials('socials', ['insta', 'vk', 'github'])
        
          .main-section__site-name
            p.main-section__site-description Личный сайт веб разработчика
            h1.main-section__site-title Наталья Быстрова
          
          a.main-section__scroll
            span.main-section__scroll-text Скролл

        section.section.about-me
          .about-me__photo
          .about-me__info
            p.about-me__text Привет, меня зовут
            h2.about-me__title Наталья Быстрова
            p.about-me__text Я занимаюсь разработкой сайтов

          +about-me__list('about-me', obj)
        
          p.about-me__text.about-me__text_style_italic Этот сайт я сделала в рамках обучения в школе онлайн образования.

        section.section.skills
          h3.section__title.section__title_type_h3 Чем я могу быть полезной вам
          p.section__description Этот сайт я сделала в рамках обучения в школе онлайн образования.
          .skills__block
            h4.skills__block-title Front-end
            .skills__skill-item
              .skills__skill-item-title HTML5
              .skills__skill-item-bg 
              .skills__skill-item-value
        section.section.portfolio
          .section__title Мои работы
          .portfolio__wrapper
            .portfolio__slider
            .portfolio__slider-description
              .portfolio__tags
              .portfolio__title Сайт школы образования
              .portfolio__text Эта работа - редизайн старого сайта для школы №23
              a.portfolio__link(href='#') Посмотреть сайт
        
        section.section.feedback
          .section__title Что обо мне говорят
          .feedback__slider
            .feedback__slider-buttons
              button.feedback__button.feedback__button_type_back Назад
              button.feedback__button.feedback__button_type_front Вперед
            .feedback__slider-item
              .feedback__slider-item-unit
                .feedback__text Этот код выдержит любые испытания
                .feedback__user
                  .feedback__user-photo
                  .feedback__user-name Ковальчук Дмитрий
                  .feedback__user-position Основатель Loftschool
        section.section.feedback-form
          h3.section__title Связаться со мной
          form.feedback-form__form
            .feedback-form__column
              .feedback-form__row
                label.feedback-form__block
                  .feedback-form__block-title Введите ваше имя
                  input.input.feedback-form__input(
                    type='text'
                    placeholder='Наталья Быстрова'
                  )
                  span.feedback-form__block-error
                label.feedback-form__block
                  .feedback-form__block-title Введите ваш email
                  input.input.feedback-form__input(
                    type='email'
                    placeholder='n.a.bystrova@gmail.com'
                  )
                  span.feedback-form__block-error
              .feedback-form__row
                label.feedback-form__block
                  .feedback-form__block-title Сообщение к письму
                  textarea.textarea.feedback-form__textarea(
                    type='text'
                    placeholder='Требуется ваша помощь в создании сайта'
                  )
                  span.feedback-form__block-error
            
            button.button.button_type_submit Отправить

        footer.footer
          .footer__wrapper
            .footer__left
              .footer__date &copy; 2019
              .footer__owner
                p.footer__name Быстрова Наталья
                p.footer__name-description Личный сайт веб-разработчика

            .footer__right
              +nav('nav', 'dark', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'] )
              .footer__right-bottom
                .footer__owner-info
                  .footer__site-description Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                  +socials('socials', ['insta', 'vk', 'github'])
                .footer__slogan
                  blockquote.footer__blockquote
                    | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
                  cite.footer__blockquote-cite Martin Golding


  

          