section.parallax
	.parallax__layer
		img(src=require("images/content/parallax/Sky.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/Mountain.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/Baloon.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/Cloud.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/Man.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/Mountain1.png")).parallax__image
	.parallax__layer
		img(src=require("images/content/parallax/White.png")).parallax__image
		